<div class="leads form-body">
  <a name="form-body"></a>
  <p class="form-title">Quer aprender como o vídeo pode transformar seu negócio? Baixe seu e-book grátis agora
    mesmo!</p>

  <form id="contactForm">
    <input id="ip" type="hidden" value="">

    <div class="form-group">
      <input type="text" class="form-fields" id="name" placeholder="Nome Completo" required="required" name="nome" />
    </div>

    <div class="form-group">
      <input type="email" class="form-fields" id="email" placeholder="Digite seu email" required="required" name="email" />
    </div>

    <div class="form-group">
      <select class="form-fields" id="ebooks">
        <option value="" disabled selected>selecione seu e-Book</option>
        <option value="endomarketing" class="form-fields">Endomarketing e Engajamento de Colaboradores</option>
        <option value="eventos" class="form-fields">Engajamento online para eventos</option>
        <option value="lead" class="form-fields">Técnicas de geração de leads com vídeos</option>
      </select>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-warning btn-form btn-lg">Enviar</button>
    </div>

  </form>
</div>