<nav>
  <div class="nav">
    <%= image_tag "claquete_logo.jpg", class: "logo", alt: "logo"  %>
    <%= link_to  "Claquete Business", blog_posts_path, class: "site-name"%>
    <div class="donwload-header">
      <a href="#form-body">Baixe seu e-Book</a>
    </div>
</nav>