<div class="wrap-posts">
  <div class="posts row">
    <% @blog_posts.sample(3).each do |blog_post| %>
    <div class="post-image">
      <%= image_tag blog_post.image, class: "blog-post-image" %>
      <p class="blog-post-title">
        <%= blog_post.title %>
      </p>
      <div class="link-to-show">
        <%= link_to "Acessar", blog_post_path(blog_post.id), class: "btn btn-warning" %>
      </div>
    </div>
    <%end%>
  </div>
</div>

<%= render partial: "blog_posts/shared/leads_form" %>
