.nav {
  height: 88px;
  width: 1440px;
  background-color: #6633CC;
}

.logo {
  border-radius: 50%;
  height: 80px;
  width: 80px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrap-posts {
  padding-left: 150px;
  padding-right: 150px;
}

.post-image {
  padding-left: 30px;
  // padding-right: 120px;
  display:block;
  overflow:hidden;
  flex-direction: row;
}

.post-image>img{
  opacity: 0.6;
}

img:hover{
  opacity: 0.3;
}
.blog-post-image {
  height: 500px;
  width: 360px;
  border-radius: 4px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;

}

.post-image>.blog-post-title {
  height: 176px;
  width: 320px;
  color: #FEFEFE;
  font-family: Lato;
  font-size: 36px;
  font-weight: bold;
  line-height: 44px;
  position: relative;
  top: -250px;
  padding-bottom: 80px;
  padding-left: 20px;
  padding-right: 20px;
}

.link-to-show {
  height: 40px;
  width: 82px;
  border-radius: 20px;
  // background-color: #FBB03B;
  position: relative;
  top: -280px;
  padding-left: 20px;
  color: #FEFEFE;

}

a {
  color: inherit;
}
